page-login {
  .login {
    background-image: url('../assets/images/login-background.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
  }

  .buttons {
    text-align: center;
    bottom: 10vh;
    position: absolute;
    display: block;
    width: 100%;
  }

  .logo {
    position: absolute;
    width: 100%;
    margin-top: 17vh;
    height: 20vh;
    background-image: url('../assets/images/logo.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center; 
  }
}
